.about {
  padding: 163px 0px 140px 0px;
  background-color: $white;

  @include media-w($mdl) {
    padding: 127px 0 130px 0;
  }

  @include media-w($smx) {
    padding: 117px 0 120px 0;
  }

  @include media-w($xs) {
    padding: 97px 0 100px 0;
  }

  @include media-w($xxs) {
    padding: 60px 0 70px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include media-w($mdb) {
      flex-direction: column;
    }
  }

  &__content {
    margin-top: -24px;
    max-width: 445px;

    @include media-w($mdb) {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 27px;
    @include overflow(1);
  }

  &__subtitle {
    display: block;
    margin-bottom: 60px;
    @include overflow(1);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    @include media-w($sms) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    padding: 30px 84px 40px 40px;
    width: 255px;
    height: 255px;
    background-color: $bg;
    cursor: pointer;
    transition: 0.5s;

    @include media-w($mdb) {
      width: 100%;
    }

    &:hover {
      background-color: $accent;
      color: $white;
    }

    &:hover a {
      color: $white;
      border-bottom: 1px solid $white;
    }
  }

  &__num {
    margin-bottom: 20px;
    @extend %lato-900;
    font-size: 55px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    @include overflow(1);
  }

  &__name {
    @extend %lato-700;
    margin-bottom: 41px;
    font-size: 14px;
    line-height: 1.28;
    @include overflow(2);
  }

  &__all {
    display: inline-block;
    max-width: 70px;
    @extend %lato-700;
    font-size: 14px;
    line-height: 1.2;
    color: $accent;
    border-bottom: 1px solid $accent;
  }

  p {
    @include overflow(10);
    line-height: 1.7;
  }
}