.contacts {
  min-height: 623px;
  padding: 120px 0px 122px 0px;
  color: $white;
  @extend %bg-center-cover;

  @include media-w($mdl) {
    padding: 100px 0px 100px 0px;
    min-height: 570px;
  }

  @include media-w($smx) {
    padding: 80px 0px 80px 0px;
    min-height: 470px;
  }

  @include media-w($xxs) {
    padding: 60px 0 60px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include media-w($lg) {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 445px;

    @include media-w($lg) {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }

  p {
    margin-bottom: 72px;
    @include overflow($row-2);
  }

  &__title {
    margin-bottom: 40px;
    @extend %Merriweather-900;
    font-size: 48px;
    color: $white;
    line-height: 1.43;
    @include overflow($row);

    @include media-w($mdl) {
      font-size: 38px;
      margin-bottom: 65px;
    }

    @include media-w($xxs) {
      font-size: 32px;
      margin-bottom: 45px;
    }
  }

  &__connections {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-w($lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__tel,
  &__mail {
    border: 1px solid transparent;
    position: relative;
    @extend %bg-center-contain;
  }

  &__tel:after,
  &__mail:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $white;
    transition: width 0.3s ease-out;
  }

  &__tel:focus,
  &__mail:focus {
    font-weight: 700;
    color: $accent;
  }

  &__tel:hover::after,
  &__mail:hover::after {
    width: 100%;
  }

  &__tel:active,
  &__mail:active {
    border: 1px solid $accent;
    color: $accent;
  }

  &__tel {
    padding-left: 25px;

    @include media-w($lg) {
      display: block;
      margin-bottom: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 17px;
      height: 30px;
      left: 0;
      top: -2px;
      background-image: url(../images/contacts/icons/tel.svg);
    }
  }

  &__mail {
    padding-left: 45px;

    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 30px;
      left: 0;
      top: -2px;
      background-image: url(../images/contacts/icons/envelope.svg);
    }
  }

  &__form {
    padding-top: 15px;
    width: 100%;
    max-width: 540px;

    @include media-w($lg) {
      max-width: 100%;
    }
  }

  &__form-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    @include media-w($smx) {
      flex-direction: column;
    }
  }

  &__form-label {
    @include media-w($lg) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__form-label:first-child {
    @include media-w($lg) {
      margin-right: 30px;
    }

    @include media-w($smx) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__form-text {
    display: block;
    margin-bottom: 16px;
    min-width: 255px;
    @extend %lato-400;
    font-size: 16px;
    line-height: 1.37;
  }

  &__form-input {
    width: 255px;
    padding: 0px 4px 0px 2px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid $white;
    font-size: 21px;
    line-height: 1.38;
    color: $section-title;

    @include media-w($lg) {
      width: 100%;
    }
  }

  &__form-textarea {
    display: block;
    border: transparent;
    width: 100%;
    height: 99px;
    background-color: transparent;
    border-bottom: 1px solid $white;
    resize: none;
    margin-bottom: 50px;
    color: $section-title;
    padding: 5px;

    &::placeholder {
      color: $section-title;
    }
  }

  .button {
    padding: 17px 42px;
    border: 2px solid transparent;
    background-color: $accent;
    line-height: 1.38;
    transition: background-color 0.5s,
      color 0.5s,
      border 0.5s;
    display: block;
    margin-left: auto;
    color: $white;
    border: 2px solid transparent;
    transition: 0.5s;

    @include media-w($smx) {
      width: 100%;
    }

    @include media-w($xs) {
      padding: 9px 20px;
    }

    &:focus {
      border: 2px solid $title;
      border-radius: 4px;
    }

    &:hover {
      background-color: $white;
      color: $accent;
    }
  }
}